.menu {
    position: fixed; 
    display: block; 
    height: 50px; 
    background-color: #3E5944; 
    padding: 3px;
    left: 0; right:0; top:0; 
    z-index: 5;
    overflow: hidden;
    font-family: 'poppins';
}
  
  /* Style the links inside the navigation bar */
.menu a {
    float: right;
    color: #ffffff;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0;
}
  
  /* Add a color to the active/current link */
.menu a.active {
    color: #CBBFA0;
}

.hallo {
    font-family: "Poppins";
    color: #000000;
    font-size: 25px;
    margin-left: 30px;
}

.kotak {
    display: block;
    background-color: #CBBFA0;
    width: 1150px;
    height: 200px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
   /* margin-left: 30px; */
}

.kotak1 {
    display: block;
    position: relative;
    background-color: #CBBFA0;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    /* margin-top: 15px;
    margin-left: 30px; */
}

.kotak1:hover {
    transform: scale(1.15);
}

.kotak2 {
    display: block;
    background-color: #CBBFA0;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    /* margin-top: -200px;
    margin-left: 480px; */
}

.kotak3 {
    display: block;
    background-color: #CBBFA0;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    /* margin-top: -200px;
    margin-left: 930px; */
}

.kotakijo {
    display: block;
    background-color: #3E5944;
    width: 300px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -5px;
    margin-left: 0px;
}

.kotakijo1 {
    display: block;
    background-color: #3E5944;
    width: 300px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -15px;
    margin-left: 0px;
}

.kotakijo2 {
    display: block;
    background-color: #3E5944;
    width: 300px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -15px;
    margin-left: 0px;
}

.PHP {
    width: 240px;
    height: 140px;
    margin-top: 15px;
    margin-left: 30px;
}

.HTML {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 70px;
}

.CSS {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 70px;
}

.tulisan {
    font-family: "Poppins";
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    
}

.materi {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    .kotak {width: 90.5%;}
    .kotak1 {width: 23.75%;}
    .PHP {width: 80%;}
    .kotakijo {width: 100%;}
    .kotak2 {width: 23.75%;}
    .HTML {width: 50.5%;}
    .kotakijo1 {width: 100%;}
    .kotak3 {width: 23.75%;}
    .CSS {width: 50.5%;}
    .kotakijo2 {width: 100%;}
  }